---
import Layout from "@layouts/layout.astro"
---

<Layout title="Projects" description="">
	<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background="/images/about.jpg">
    <div class="container">
      <h2>Blog</h2>
      <div class="bosluk3"></div>
      <p>
        <a href="/" class="headerbreadcrumb">Home</a>
        <i class="flaticon-right-chevron"></i>Blog
      </p>
    </div>
    <!-- end container -->
  </header>
</Layout>
