---
import Layout from "@layouts/layout.astro"
---

<Layout title="Page Not Found" description="Sorry, the page you are looking for could not be found. Please go back to the home page or check back later">
	<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background="/images/contact.jpg">
    <div class="container">
      <h2>Page Not Found (404)</h2>
      <div class="bosluk3"></div>
      <p>
        <a href="/" class="headerbreadcrumb">Back Home</a>
      </p>
    </div>
    <!-- end container -->
  </header>
</Layout>
