---
import Layout from "@layouts/layout.astro"
import Callback from "@components/Callback.svelte"
---

<Layout title="About Us - Alken Homes" description="Alken Products Limited (Alken Homes) is a professional painting company based in Nairobi Kenya" canonical={Astro.request.url}>
	<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background="/images/about.jpg">
    <div class="container">
      <h2>About Us</h2>
      <div class="bosluk3"></div>
      <p>
        <a href="/" class="headerbreadcrumb">Home</a>
        <i class="flaticon-right-chevron"></i>About Us
      </p>
    </div>
    <!-- end container -->
  </header>
	<section class="paketler-alani" data-background="#ffffff">
    <div class="bosluk3"></div>
    <div class="bosluk3"></div>
    <div class="tabloozellik">
      <div class="tablo--1-ve-2">
        <img src="/images/paint.png">
      </div>
      <div class="tablo--1-ve-2">
        <h2 class="h2-baslik-anasayfa-ozel wow fade">
          Alken Products Limited
        </h2>
        <div class="bosluk333"></div>
        <div class="paragraf wow fade">
          <p>
            Alken Homes limited is professional painting company based in Nairobi Kenya. We specialize in a variety of painting and finishing services including external and internal finishes as well as residential and commercial painting. Alken provides consistent premium work because of the quality of our unique control systems.
          </p>
        </div>
        <div class="bosluk333"></div>
        <div class="paragraf wow fade">
          <p>
            Through our experience working with a variety of clients, we found that inadequate paint control systems is the key problem within the industry. People hesitate when hiring a painter – or any other contractor – because of the concern over subpar results. We find our advantage in the multi-talented team of artisans that form a one stop shop for the highly required essential finishes thus making our work unique.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="paketler-alani" data-background="#ffffff">
    <div class="bosluk3"></div>
    <div class="bosluk3"></div>
    <div class="tabloozellik">
      <div class="tablo--1-ve-2">
        <h2 class="h2-baslik-anasayfa-ozel wow fade">
          Quality Control
        </h2>
        <div class="bosluk333"></div>
        <div class="paragraf wow fade">
          <p>
            At Alken Products Limited we believe inefficiencies are unnecessary. Thus have eliminated them by including a maintenance division, which assists builders with any damages after completion such as water damage, carpentry, or gyprock damage. We go above and beyond expectations and ensuring that all work by our Painters and Artisans meets our high standards. start from hiring. We only hire experienced, highly skilled Artisans who are dedicated to their work, whom we retrain on the company’s culture of excellence.
          </p>
        </div>
        <div class="bosluk333"></div>
        <div class="paragraf wow fade">
          <p>
            We have fully trained and professional supervisors on location at each job to carefully look over all work and inspect for any painting defects, in accordance with the highly successful Quality Control Methods developed over the years. Any issues are rectified before we consider our work to be done. Our team is available to assist builders with the 90 days warranty period on brand new homes to ensure that everything is completed to the highest standard, even after the work is completed. It is this dedication to high quality work and superior service that sets ALKEN PRODUCTS LIMITED (APL) Services apart.
          </p>
        </div>
      </div>
      <div class="tablo--1-ve-2">
        <img src="/images/quality.jpg">
      </div>
    </div>
  </section>
  <section class="paketler-alani" data-background="#ffffff">
    <div class="bosluk3"></div>
    <div class="bosluk3"></div>
    <div class="tabloozellik">
      <div class="tablo--1-ve-1">
        <h2 class="h2-baslik-anasayfa-ozel wow fade">
          Our commitment
        </h2>
        <div class="bosluk333"></div>
        <div class="paragraf wow fade">
          <h3>Clean Workspace</h3>
          <p>
            We also take the time to ensure a pleasant and tidy work environment for our customers. For all projects, large and small, we make sure to keep the site clean while we work and will leave each job clean upon completion. We don’t consider this to be going out of our way to fully clean and maintain our project sites, but rather a central core of our services and superior workmanship.
          </p>
          <h3>Customer Service</h3>
          <p>
            want you to get the same satisfaction from our work that we experience. That’s why our team is not only dedicated to flawless workmanship, but also excellent customer service. Our staff are always friendly, helpful, and punctual. We understand that our clients depend on this high level of professionalism when they hire us.
          </p>
          <h3>Environmental Sustainability</h3>
          <p>
            We ensure that the disposal of paints, paint drums, and other chemicals is done in an environmentally friendly manner.
          </p>
          <h3>Quality</h3>
          <p>
            Quality is everything to us, and this is reflective in our finished projects. With professional supervisors on every job, trained in highly successful Quality Control Methods that we have developed over the years and painting teams that are dedicated to flawless work, you know you will get the best with us
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="qua1-top wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="bosluk2dt"></div>
          <h2 class="h2-baslik-hizmetler-223 wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible;"> Fill in the Form, We'll Call You! </h2>
          <div class="bosluk2dt"></div>
          <p class="h2-baslik-hizmetler-223__paragraf wow fadeInLeft" data-wow-delay="0.6s"> For detailed information about our painting services and products, leave your number to us and our experts will call you. </p>
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5s">
          <div role="form" class="wpcf7" id="wpcf7-f1287-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response">
              <p role="status" aria-live="polite" aria-atomic="true"></p>
              <ul></ul>
            </div>
            <Callback client:load />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
