---
import Layout from "@layouts/layout.astro"
---

<Layout title="About Us" description="">
	<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background="/images/paint-header.jpg">
    <div class="container">
      <h2>About Us</h2>
      <div class="bosluk3"></div>
      <p>
        <a href="/" class="headerbreadcrumb">Home</a>
        <i class="flaticon-right-chevron"></i>About Us
      </p>
    </div>
    <!-- end container -->
  </header>
	
</Layout>
