---
import Layout from "@layouts/layout.astro"
---

<Layout title="Alken Homes Company Limited" description="Eburon company limited is a professional company that specializes in household finishing. This includes, paint jobs, house fittings, waterproofing, cabinetry and gypsum installation among other services">
<!-- Slider -->
<header class="slider">
  <div class="main-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-image wow fadeInUp" data-wow-delay="0.3s" data-background="/images/banner-1.png"></div>
        <div class="container">
          <h1>Do You Need <br> your building painted? </h1>
          <p>Let us do the job within your budget. </p>
          <div class="bosluk1"></div>
          <a href="/services">Learn More →</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-image wow fadeInUp" data-wow-delay="0.3s" data-background="/images/banner-1.png"></div>
        <div class="container">
          <h1>We are <br> Professionals </h1>
          <p>Our painting services are the best in the market</p>
          <div class="bosluk1"></div>
          <a href="/services">Learn More →</a>
        </div>
      </div>
    </div>
  </div>
  <div class="button-prev">❮</div>
  <div class="button-next">❯</div>
  <div class="swiper-pagination"></div>
</header>
<section class="hakkimizda-bolumu-anasayfa">
  <div class="h-yazi-ozel h-yazi-margin-ozel"></div>
  <div class="tablo">
    <div class="tablo--1-ve-2 wow fade">
      <div class="galeri1 wow fadeIn" data-wow-delay="0.7s">
        <!--<img class="imagerotate" src="../wp-content/uploads/2022/07/circle-paint.png" alt="" >-->
      </div>
      <div class="galeri wow zoomIn" data-wow-delay="s">
        <img src="/images/painter-1.png" alt="Este About" class="">
      </div>
      <div class="countt wow fadeInUp" data-wow-delay="1s">
        <div class="counter-box wow fade">
          <span class="odometer" data-count="6" data-status="yes">0</span>
          <h6>Years of Experience</h6>
        </div>
      </div>
      <div class="countb wow fadeInLeft" data-wow-delay="1.1s">
        <div class="counter-box wow fade">
          <span class="odometer" data-count="130" data-status="yes">0</span>
          <h6>Spcial Expert Team</h6>
        </div>
      </div>
    </div>
    <!--Galeri Görsel Alanı-->
    <div class="tablo--1-ve-3 wow fadeInUp" data-wow-delay="0.3s">
      <h2 class="h2-baslik-anasayfa-ozel wow fadeInRight" data-wow-delay="0.4s">
          Engage the services of professionals
      </h2>
      <div class="bosluk333"></div>
      <p class="paragraf wow fadeInRight" data-wow-delay="0.5s">
      <p>With our expert staff, we add a new perspective to your home with our economic or luxury, fast and quality works. Choose the renovation package that fits your budget, and we&#8217;ll come and renovate your home.</p>
      <div class="bosluk333"></div>
      <img class="divider" width="120" height="15" title="divider" alt="divider" src="../wp-content/uploads/2022/05/divider.jpg">
      <div class="row">
        <div class="col-sm-2 wow fadeInRight" data-wow-delay="0.6s">
          <div class="iconleft">
            <i class="flaticon-helmet"></i>
          </div>
        </div>
        <div class="col-sm-10 wow fadeInRight" data-wow-delay="0.7s">
          <h3 class="baslik-3s h-yazi-margin-kucuk1">Professional Team</h3>
          <br>
          <p class="paragraf-info">We produce guaranteed solutions in all paint works with our competent and experienced team.</p>
          <br>
        </div>
      </div>
      <div class="bosluke2"></div>
      <div class="row">
        <div class="col-sm-2 wow fadeInRight" data-wow-delay="0.8s">
          <div class="iconleft">
            <i class="flaticon-stopwatch"></i>
          </div>
        </div>
        <div class="col-sm-10 wow fadeInRight" data-wow-delay="0.9s">
          <h3 class="baslik-3s h-yazi-margin-kucuk1">Quick Paint</h3>
          <br>
          <p class="paragraf-info">Thanks to our solid expertise, we paint and deliver your home and office very quickly.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bosluk4"></div>
<div class="bosluk3"></div>
<div class="bosluk3sh"></div>
<!--Quality Alanı-->
<!--Quality 1-->
<section class="paketler-alani" data-background="#ffffff">
  <div class="bosluk3"></div>
  <div class="bosluk3"></div>
  <div class="tabloozellik">
    <div class="tablo--1-ve-4">
      <div class="paketler4 wow flipInX" data-wow-delay="0.5s">
        <div class="paketler4__on paketler4__on--onyazi">
          <div class="paketler4__icerik">
            <div class="icon">
              <i class="flaticon-helmet"></i>
            </div>
            <h3 class="baslik-3 h-yazi-margin-kucuk">Reliability</h3>
          </div>
        </div>
        <div class="paketler4__on paketler4__on--arkayazi paketler4__on--arkayazi-1">
          <div class="paketler4__pr">
            <div class="paketler4__pr-kutu">
              <h3 class="baslik-orta h-yazi-margin-kucuk">Reliability</h3>
              <p class="services-kutu2--yazi1 wow fade"> We provide accurate, reliable and ethical services with our expert staff. We apply the fastest and most reliable methods for your brand. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tablo--1-ve-4">
      <div class="paketler4 wow flipInX" data-wow-delay="0.6s">
        <div class="paketler4__on paketler4__on--onyazi">
          <div class="paketler4__icerik">
            <div class="icon">
              <i class="flaticon-badge"></i>
            </div>
            <h3 class="baslik-3 h-yazi-margin-kucuk">Loyalty</h3>
          </div>
        </div>
        <div class="paketler4__on paketler4__on--arkayazi paketler4__on--arkayazi-1">
          <div class="paketler4__pr">
            <div class="paketler4__pr-kutu">
              <h3 class="baslik-orta h-yazi-margin-kucuk">Loyalty</h3>
              <p class="services-kutu2--yazi1 wow fade"> Our long-term work continues until the job is finished. We establish solid and long-term relationships with all the companies we work with. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tablo--1-ve-4">
      <div class="paketler4 wow flipInX" data-wow-delay="0.7s">
        <div class="paketler4__on paketler4__on--onyazi">
          <div class="paketler4__icerik">
            <div class="icon">
              <i class="flaticon-recommended"></i>
            </div>
            <h3 class="baslik-3 h-yazi-margin-kucuk">Experience</h3>
          </div>
        </div>
        <div class="paketler4__on paketler4__on--arkayazi paketler4__on--arkayazi-1">
          <div class="paketler4__pr">
            <div class="paketler4__pr-kutu">
              <h3 class="baslik-orta h-yazi-margin-kucuk">Experience</h3>
              <p class="services-kutu2--yazi1 wow fade"> Thanks to the experience we have gained over the years, the specialist provides service with the latest technology devices. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tablo--1-ve-4">
      <div class="paketler4 wow flipInX" data-wow-delay="0.8s">
        <div class="paketler4__on paketler4__on--onyazi">
          <div class="paketler4__icerik">
            <div class="icon">
              <i class="flaticon-team-1"></i>
            </div>
            <h3 class="baslik-3 h-yazi-margin-kucuk">Support</h3>
          </div>
        </div>
        <div class="paketler4__on paketler4__on--arkayazi paketler4__on--arkayazi-1">
          <div class="paketler4__pr">
            <div class="paketler4__pr-kutu">
              <h3 class="baslik-orta h-yazi-margin-kucuk">Support</h3>
              <p class="services-kutu2--yazi1 wow fade"> We accelerate your business processes by providing professional support. We solve your problems and provide instant solutions. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</Layout>
