---
import Layout from "@layouts/layout.astro"
---

<Layout title="Our Packages">
	<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background="https://garantiwebtasarim.com/wordpress/artpaint/wp-content/uploads/2022/07/paint-header.jpg">
    <div class="container">
      <h2>Packages</h2>
      <div class="bosluk3"></div>
      <p>
        <a href="../index.html" class="headerbreadcrumb">Home</a>
        <i class="flaticon-right-chevron"></i>Packages
      </p>
    </div>
    <!-- end container -->
  </header>
  <!--pack 1-->
  <section class="special-paket-alani">
    <div class="h-yazi-ortalama h-yazi-margin-orta-3">
      <div class="icon wow fadeInUp" data-wow-delay="0.3s">
        <i class="flaticon-handshake"></i>
      </div>
      <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s"> Special Packs </h2>
    </div>
    <p class="h2-baslik-hizmetler-2__paragraf wow fadeInUp " data-wow-delay="0.6s"> Select pricing plan to get more </p>
    <div class="bosluk3"></div>
    <div class="tablo">
      <div class="tablo--1-ve-3">
        <div class="paketler3 wow fadeInLeft" data-wow-delay="0.5s" data-tilt>
          <div class="paketler3__on paketler3__on--onyazi">
            <div class="paketler3__gorsel paketler3__gorsel--1">
              <div class="iconw">
                <i class="flaticon-house"></i>
              </div>
              <h3 class="baslik-sol h-yazi-margin-kucuk">House Painting</h3>
              <p class="services-kutu2--yazi wow fade"> These are the management services for which we provide the paint service. </p>
            </div>
            <div class="paketler3__icerik">
              <ul>
                <li>✓ Phone Support Service</li>
                <li>✓ Remote Connection Service</li>
                <li>✓ Onsite Support Service</li>
                <li>✓ Consultancy Service</li>
                <li>✗ Network Security Service</li>
              </ul>
            </div>
          </div>
          <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-1">
            <div class="paketler3__pr">
              <div class="paketler3__pr-kutu">
                <p class="paketler3__pr-yazi">House Painting</p>
              </div>
              <a href="#housepainting" class="custom-button">Send Request!</a>
            </div>
          </div>
        </div>
        <!-- POPUP FORMS -->
        <div role="form" class="wpcf7" id="wpcf7-f2494-o1" lang="en-US" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form action="https://garantiwebtasarim.com/wordpress/artpaint/packages/#wpcf7-f2494-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="2494" />
              <input type="hidden" name="_wpcf7_version" value="5.6" />
              <input type="hidden" name="_wpcf7_locale" value="en_US" />
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2494-o1" />
              <input type="hidden" name="_wpcf7_container_post" value="0" />
              <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
            </div>
            <div class="popup" id="housepainting">
              <div class="popup__content">
                <p>
                  <a href="#special-paket-alani" class="popup__kapat">&times;</a>
                </p>
                <h2 class="h2-baslik-popup h-yazi-margin-kucuk"> House Painting Pack </h2>
                <p class="paragraf-popup"> Application Form </p>
                <div class="form-popup">
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="text-667">
                      <input type="text" name="text-667" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Full Name" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="email-217">
                      <input type="email" name="email-217" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" aria-required="true" aria-invalid="false" placeholder="Email Address" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="text-661">
                      <input type="text" name="text-661" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Phone Number" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <div class="or">
                      <input type="submit" value="Submit Form →" class="wpcf7-form-control has-spinner wpcf7-submit custom-buttonf" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
      <div class="tablo--1-ve-3">
        <div class="paketler3 wow fadeInLeft" data-wow-delay="0.6s" data-tilt>
          <div class="paketler3__on paketler3__on--onyazi">
            <div class="paketler3__gorsel paketler3__gorsel--1">
              <div class="iconw">
                <i class="flaticon-book"></i>
              </div>
              <h3 class="baslik-sol h-yazi-margin-kucuk">Office Painting</h3>
              <p class="services-kutu2--yazi wow fade"> These are the management services for which we provide the paint service. </p>
            </div>
            <div class="paketler3__icerik">
              <ul>
                <li>✓ Phone Support Service</li>
                <li>✓ Remote Connection Service</li>
                <li>✓ Onsite Support Service</li>
                <li>✓ Consultancy Service</li>
                <li>✗ Network Security Service</li>
              </ul>
            </div>
          </div>
          <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-1">
            <div class="paketler3__pr">
              <div class="paketler3__pr-kutu">
                <p class="paketler3__pr-yazi">Office Painting</p>
              </div>
              <a href="#officepainting" class="custom-button">Send Request!</a>
            </div>
          </div>
        </div>
        <!-- POPUP FORMS -->
        <div role="form" class="wpcf7" id="wpcf7-f2498-o2" lang="en-US" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form action="https://garantiwebtasarim.com/wordpress/artpaint/packages/#wpcf7-f2498-o2" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="2498" />
              <input type="hidden" name="_wpcf7_version" value="5.6" />
              <input type="hidden" name="_wpcf7_locale" value="en_US" />
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2498-o2" />
              <input type="hidden" name="_wpcf7_container_post" value="0" />
              <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
            </div>
            <div class="popup" id="officepainting">
              <div class="popup__content">
                <p>
                  <a href="#special-paket-alani" class="popup__kapat">&times;</a>
                </p>
                <h2 class="h2-baslik-popup h-yazi-margin-kucuk"> Office Painting Pack </h2>
                <p class="paragraf-popup"> Application Form </p>
                <div class="form-popup">
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="text-667">
                      <input type="text" name="text-667" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Full Name" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="email-217">
                      <input type="email" name="email-217" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" aria-required="true" aria-invalid="false" placeholder="Email Address" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="text-661">
                      <input type="text" name="text-661" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Phone Number" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <div class="or">
                      <input type="submit" value="Submit Form →" class="wpcf7-form-control has-spinner wpcf7-submit custom-buttonf" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
      <div class="tablo--1-ve-3">
        <div class="paketler3 wow fadeInLeft" data-wow-delay="0.7s" data-tilt>
          <div class="paketler3__on paketler3__on--onyazi">
            <div class="paketler3__gorsel paketler3__gorsel--1">
              <div class="iconw">
                <i class="flaticon-helmet"></i>
              </div>
              <h3 class="baslik-sol h-yazi-margin-kucuk">Paint Master</h3>
              <p class="services-kutu2--yazi wow fade"> These are the management services for which we provide the paint service. </p>
            </div>
            <div class="paketler3__icerik">
              <ul>
                <li>✓ Phone Support Service</li>
                <li>✓ Remote Connection Service</li>
                <li>✓ Onsite Support Service</li>
                <li>✓ Consultancy Service</li>
                <li>✗ Network Security Service</li>
              </ul>
            </div>
          </div>
          <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-1">
            <div class="paketler3__pr">
              <div class="paketler3__pr-kutu">
                <p class="paketler3__pr-yazi">Paint Master</p>
              </div>
              <a href="#paintmaster" class="custom-button">Send Request!</a>
            </div>
          </div>
        </div>
        <!-- POPUP FORMS -->
        <div role="form" class="wpcf7" id="wpcf7-f2499-o3" lang="en-US" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form action="https://garantiwebtasarim.com/wordpress/artpaint/packages/#wpcf7-f2499-o3" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="2499" />
              <input type="hidden" name="_wpcf7_version" value="5.6" />
              <input type="hidden" name="_wpcf7_locale" value="en_US" />
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2499-o3" />
              <input type="hidden" name="_wpcf7_container_post" value="0" />
              <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
            </div>
            <div class="popup" id="paintmaster">
              <div class="popup__content">
                <p>
                  <a href="#special-paket-alani" class="popup__kapat">&times;</a>
                </p>
                <h2 class="h2-baslik-popup h-yazi-margin-kucuk"> Paint Master Pack </h2>
                <p class="paragraf-popup"> Application Form </p>
                <div class="form-popup">
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="text-667">
                      <input type="text" name="text-667" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Full Name" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="email-217">
                      <input type="email" name="email-217" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" aria-required="true" aria-invalid="false" placeholder="Email Address" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <span class="wpcf7-form-control-wrap" data-name="text-661">
                      <input type="text" name="text-661" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-popup__input" aria-required="true" aria-invalid="false" placeholder="Phone Number" />
                    </span>
                  </div>
                  <div class="form-popup__grup">
                    <div class="or">
                      <input type="submit" value="Submit Form →" class="wpcf7-form-control has-spinner wpcf7-submit custom-buttonf" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Layout>