<!--Footer Alanı-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 cce">
        <h6 class="widget-title">
          Our Contact Details
        </h6>
        <p class="footerp">
          Talk to us
        </p>
        <div class="footer-info cce wow animated fadeInUp animated" data-wow-delay="0.5s">
          <p>
            <i class="flaticon-pin iconpfooter1 "></i>Nairobi, Kenya
          </p>
          <p class="fic">
            <i class="flaticon-call iconpfooter2 "></i>&nbsp;&nbsp;&nbsp;+254 722 503 853
          </p>
          <br>
          <p>
            <i class="flaticon-email iconpfooter3 "></i>&nbsp;&nbsp;&nbsp;info@alkenhomes.com
          </p>
          <br>
        </div>
        <!-- end footer-info -->
        <ul class="footer-social cce wow animated fadeInUp animated" data-wow-delay="0.5s">
          <li>
            <a href="https://facebook.com/">
              <i class="flaticon-facebook-1 iconsociaf"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/">
              <i class="flaticon-instagram-1 iconsociaf"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/">
              <i class="flaticon-twitter-1 iconsociaf"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-4 cce wow fadeInUp" data-wow-delay="0.6s">
        <h6 class="widget-title">Join Our Newsletter</h6>
        <p class="footerp"> Subscribe to be informed about our services and products. </p>
        <div class="bosluk333"></div>
        <div role="form" class="wpcf7" id="wpcf7-f766-o2" lang="en-US" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form action="" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
            <p>
              <br>
            </p>
            <div class="form__grup wow fadeInLeft" data-wow-delay="0.7s">
              <span class="wpcf7-form-control-wrap" data-name="email-217">
                <input type="email" name="email-217" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" aria-required="true" aria-invalid="false" placeholder="Your Email Address" />
              </span>
            </div>
            <div class="form__grup wow fadeInUp" data-wow-delay="0.9s">
              <input type="submit" value="Subscribe →" class="wpcf7-form-control has-spinner wpcf7-submit custom-button-form" />
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-2 offset-xl-1 col-sm-6 cce wow animated fadeInUp animated" data-wow-delay="0.5s">
        <h6 class="widget-title">Services</h6>
        <div class="footer-menu cce">
          <div class="menu-services-container">
            <ul id="menu-services" class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
              <li id="menu-item-2082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2082">
                <a href="/services/interior-and-exterior-painting">Interior &amp; Exterior Painting</a>
              </li>
              <li id="menu-item-2081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2081">
                <a href="/services/gypsum-and-cabinetry">Gypsum &amp; Cabinetry</a>
              </li>
              <li id="menu-item-2080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2080">
                <a href="/services/water-proofing">Water Proofing</a>
              </li>
              <li id="menu-item-2079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2079">
                <a href="/services/cracking-and-filling">Cracking &amp; Filling</a>
              </li>
              <li id="menu-item-2078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2078">
                <a href="/services/epoxy-flooring">Epoxy Flooring</a>
              </li>
              <li id="menu-item-2077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2077">
                <a href="/services/plastering">Plastering</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end col-2 -->
      <div class="col-lg-2 col-sm-6 cce wow animated fadeInUp animated" data-wow-delay="0.5s">
        <h6 class="widget-title">Quick Links</h6>
        <div class="footer-menu">
          <div class="menu-quick-links-container">
            <ul id="menu-quick-links" class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
              <li id="menu-item-2242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-2242">
                <a href="/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1737" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1737">
                <a href="/about">About Us</a>
              </li>
              <li id="menu-item-1735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1735">
                <a href="/blog">Blog</a>
              </li>
              <li id="menu-item-2083" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2083">
                <a href="/services">Services</a>
              </li>
              <li id="menu-item-1734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1734">
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- Copyright -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="copyright">
          &copy; {new Date().getFullYear()} Alken Home Paints
        </p>
      </div>
    </div>
  </div>
  <div id="top" style="cursor: pointer;">
    <i class="flaticon-chevron icontops"></i>
    <div class="bosluk3"></div>
  </div>
</footer>