---
//Load footer links
const res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?categories=6&_embed&per_page=6&sort=desc`)
const data = await res.json()
---

<!--Footer Alanı-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 cce">
        <h6 class="widget-title">
          Our Contact Details
        </h6>
        <p class="footerp">
          Talk to us
        </p>
        <div class="footer-info cce wow animated fadeInUp animated" data-wow-delay="0.5s">
          <p>
            <i class="flaticon-pin iconpfooter1 "></i>Nairobi, Kenya
          </p>
          <p class="fic">
            <i class="flaticon-call iconpfooter2 "></i>&nbsp;&nbsp;&nbsp;+254 722 503 853
          </p>
          <br>
          <p>
            <i class="flaticon-email iconpfooter3 "></i>&nbsp;&nbsp;&nbsp;info@alkenhomes.com
          </p>
          <br>
        </div>
        <!-- end footer-info -->
        <ul class="footer-social cce wow animated fadeInUp animated" data-wow-delay="0.5s">
          <li>
            <a href="https://facebook.com/alkencompany" target="_blank">
              <i class="flaticon-facebook-1 iconsociaf"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/alkencompany" target="_blank">
              <i class="flaticon-instagram-1 iconsociaf"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/alken_homes" target="_blank">
              <i class="flaticon-twitter-1 iconsociaf"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-4 cce wow fadeInUp" data-wow-delay="0.6s">
        <h6 class="widget-title">Join Our Newsletter</h6>
        <p class="footerp"> Subscribe to be informed about our services and products. </p>
        <div class="bosluk333"></div>
        <div role="form" class="wpcf7" id="wpcf7-f766-o2" lang="en-US" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form action="" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
            <p>
              <br>
            </p>
            <div class="form__grup wow fadeInLeft" data-wow-delay="0.7s">
              <span class="wpcf7-form-control-wrap" data-name="email-217">
                <input type="email" name="email-217" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-popup__input" aria-required="true" aria-invalid="false" placeholder="Your Email Address" />
              </span>
            </div>
            <div class="form__grup wow fadeInUp" data-wow-delay="0.9s">
              <input type="submit" value="Subscribe →" class="wpcf7-form-control has-spinner wpcf7-submit custom-button-form" />
            </div>
            <div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-2 offset-xl-1 col-sm-6 cce wow animated fadeInUp animated" data-wow-delay="0.5s">
        <h6 class="widget-title">Services</h6>
        <div class="footer-menu cce">
          <div class="menu-services-container">
            <ul id="menu-services" class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
              {
                data.map((item) => (
                  <li id="menu-item-2082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2082">
                    <a href={`/services/${item.slug}`}>
                      {item.title.rendered}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- Copyright -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="copyright">
          &copy; {new Date().getFullYear()} Alken Home Paints
        </p>
      </div>
    </div>
  </div>
  <div id="top" style="cursor: pointer;">
    <i class="flaticon-chevron icontops"></i>
    <div class="bosluk3"></div>
  </div>
</footer>