<aside class="side-widget">
  <div class="inner">
    <!-- Logo Menu Mobile -->
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="Image">
      </a>
    </div>
    <div class="hide-mobile">
      <div class="or">
        <h2 class="h2-baslik-hizmetler-2"> Contact Information </h2>
      </div>
      <div class="bosluksv"></div>
      <div class="iconsv">
        <i class="flaticon-call"></i>
      </div>
      <address class="address"> +254 722 503 853 <div class="bosluksv"></div>
        <div class="iconsv">
          <i class="flaticon-email"></i>
        </div> info@alkenhomes.com <div class="bosluksv"></div>
        <div class="iconsv">
          <i class="flaticon-location"></i>
        </div> Nairobi, Kenya <div class="bosluksv"></div>
        <div class="or">
          <a href="https://facebook.com/alkencompany" target="_blank">
            <i class="flaticon-facebook-1 iconsocia"></i>
          </a>
          <a href="https://instagram.com/alkencompany" target="_blank">
            <i class="flaticon-instagram-1 iconsociai"></i>
          </a>
          <a href="https://twitter.com/alken_homes" target="_blank">
            <i class="flaticon-twitter-1 iconsocia"></i>
          </a>
        </div>
      </address>
    </div>
    <div class="show-mobile">
      <div class="site-menu">
        <div class="menu">
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul id="menu-mobile-menu" class="nav navbar-nav" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
              <li id="menu-item-1240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item active menu-item-1240 nav-item">
                <a itemprop="url" href="/" class="nav-link" aria-current="page">
                  <span itemprop="name">Home</span>
                </a>
              </li>
              <li id="menu-item-1241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1241 nav-item">
                <a itemprop="url" href="/about" class="nav-link">
                  <span itemprop="name">About Us</span>
                </a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item">
                <a href="/services" class="nav-link">
                  <span itemprop="name">Services</span>
                </a>
              </li>
              <li id="menu-item-2490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2490 nav-item">
                <a itemprop="url" href="/team" class="nav-link">
                  <span itemprop="name">Team</span>
                </a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
                <a itemprop="url" href="/projects" class="nav-link">
                  <span itemprop="name">Projects</span>
                </a>
              </li>
              <li id="menu-item-1259" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1259 nav-item">
                <a itemprop="url" href="/blog" class="nav-link">
                  <span itemprop="name">Blog</span>
                </a>
              </li>
              <li id="menu-item-1260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1260 nav-item">
                <a itemprop="url" href="/contact" class="nav-link">
                  <span itemprop="name">Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <small>&copy; {new Date().getFullYear()} Alken Homes Decor</small>
  </div>
</aside>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <!-- Logo Menu Desktop -->
    <div class="log">
      <a href="/">
        <img src="/images/logo.png" alt="Logo" height="150">
      </a>
    </div>
    <div class="site-menu">
      <div class="menueffect">
        <div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse">
          <ul id="menu-main-menu" class="nav navbar-nav" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
            <li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item active menu-item-322 nav-item">
              <a itemprop="url" href="/" class="nav-link" aria-current="page">
                <span itemprop="name">Home</span>
              </a>
            </li>
            <li id="menu-item-329" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-329 nav-item">
              <a itemprop="url" href="/about" class="nav-link">
                <span itemprop="name">About Us</span>
              </a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-980 nav-item">
              <a href="/services" class=" nav-link">
                <span itemprop="name">Services</span>
              </a>
            </li>
            <li id="menu-item-2491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2491 nav-item">
              <a itemprop="url" href="/team" class="nav-link">
                <span itemprop="name">Team</span>
              </a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
              <a itemprop="url" href="/projects" class="nav-link">
                <span itemprop="name">Projects</span>
              </a>
            </li>
            <li id="menu-item-354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354 nav-item">
              <a itemprop="url" href="/blog" class="nav-link">
                <span itemprop="name">Blog</span>
              </a>
            </li>
            <li id="menu-item-353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353 nav-item">
              <a itemprop="url" href="/contact" class="nav-link">
                <span itemprop="name">Contact</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar-button">
      <div class="telh">
        <i class="flaticon-headphones iconp"></i>&nbsp;&nbsp;&nbsp;+254 722 503 853
      </div>
    </div>
  </div>
</nav>