---
import Layout from "@layouts/layout.astro"
import projects from "@assets/projects.json"
---

<Layout title="Projects" description="Get to know all the details about our projects and all the services that we have engaged in">
	<section class="container mx-auto px-4 mt-48">
		<h1 class="text-4xl text-indigo-600 text-center uppercase my-6 font-bold">
			Our Projects
		</h1>
		<div class="grid place-content-center">
			<p class="text-center mb-6 max-w-md">
				At Eburon company limited, we belive in providing quality work to all our clients. Our projects are top notch and we let our work speak for itself.
			</p>
		</div>
		<div class="grid sm:grid-cols-3 gap-4">
			{
				projects.map((item) => (
					<a href={`/projects${item.slug}`} class="rounded-md shadow-md bg-gray-200">
						<span>
							<img src={item.banner} alt={item.name} class="object-cover object-center w-full rounded-t-md h-72" />
							<div class="flex flex-col justify-between p-6 space-y-8">
								<div class="space-y-2">
									<h2 class="text-3xl font-semibold tracking-wide">
										{item.name}
									</h2>
								</div>
								<button type="button" class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md bg-indigo-600 text-white">
									See More
								</button>
							</div>
						</span>
					</a>
				))
			}
		</div>
	</section>
</Layout>
