---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"

const {title} = Astro.props
const {description} = Astro.props
const {og_image} = Astro.props
const {og_url} = Astro.props
---
<html lang="en-KE">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <meta name='robots' content='max-image-preview:large' />
    <link rel='stylesheet' id='wp-block-library-css' href='/wp-includes/css/dist/block-library/style.min6a4d.css' media='all' />
    <link rel='stylesheet' id='classic-theme-styles-css' href='/wp-includes/css/classic-themes.min68b3.css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='/wp-content/plugins/contact-form-7/includes/css/styles40df.css' media='all' />
    <link rel='stylesheet' id='font-css' href='/wp-content/themes/artpaint/css/icon-font68b3.css' media='all' />
    <link rel='stylesheet' id='style-css' href='/wp-content/themes/artpaint/css/style68b3.css' media='all' />
    <link rel='stylesheet' id='fancybox-css' href='/wp-content/themes/artpaint/css/fancybox.min68b3.css' media='all' />
    <link rel='stylesheet' id='swiper-css' href='/wp-content/themes/artpaint/css/swiper.min68b3.css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='/wp-content/themes/artpaint/css/bootstrap.min68b3.css' media='all' />
    <link rel='stylesheet' id='odometer-css' href='/wp-content/themes/artpaint/css/odometer.min68b3.css' media='all' />
    <link rel='stylesheet' id='flaticon-css' href='/wp-content/themes/artpaint/css/flaticon68b3.css' media='all' />
    <link rel='stylesheet' id='custom-css' href='/wp-content/themes/artpaint/custom68b3.css' media='all' />
    <link rel="stylesheet" type="text/css" href="/wp-content/themes/artpaint/inline.css" media="all">
    <title>Alken Homes</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Choose the renovation package that fits your budget, and we'll come and renovate your home.">
  </head>
  <body>
    <div class="preloader">
      <figure>
        <img src="/images/logo.png" alt="Image">
      </figure>
    </div>
    <div class="page-transition"></div>
    <Header />
      <slot />
    <Footer />
    <script src='/wp-includes/js/dist/vendor/regenerator-runtime.min3937.js' id='regenerator-runtime-js'></script>
    <script src='/wp-includes/js/dist/vendor/wp-polyfill.min2c7c.js' id='wp-polyfill-js'></script>
    <script src='/wp-content/themes/artpaint/js/team68b3.js' id='team-js'></script>
    <script src='/wp-content/themes/artpaint/js/jquery.min68b3.js' id='jquery-js'></script>
    <script src='/wp-content/themes/artpaint/js/fancybox.min68b3.js' id='fancybox-js'></script>
    <script src='/wp-content/themes/artpaint/js/swiper.min68b3.js' id='swiper-js'></script>
    <script src='/wp-content/themes/artpaint/js/odometer.min68b3.js' id='odometer-js'></script>
    <script src='/wp-content/themes/artpaint/js/wow.min68b3.js' id='wow-js'></script>
    <script src='/wp-content/themes/artpaint/js/scripts68b3.js' id='scripts-js'></script>
    <script src='/wp-content/themes/artpaint/js/3d.jquery68b3.js' id='3d-js'></script>
    <script src='/wp-content/themes/artpaint/js/magnific68b3.js' id='magnific-js'></script>
    <script src='/wp-content/themes/artpaint/js/mag68b3.js' id='mag-js'></script>
    <script src='/wp-content/themes/artpaint/js/pointer68b3.js' id='pointer-js'></script>
    <script src='/wp-content/themes/artpaint/js/yukari-cik68b3.js' id='yukari-cik-js'></script>
    <script src='/wp-content/themes/artpaint/custom68b3.js' id='custom-js'></script>
    <!--Cursor Script-->
    <script is:inline>
      init_pointer({})
    </script>
  </body>
</html>
